:root {
    --theme-color-purple: #44165f;
    --theme-color-orange: #ef802b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* [START] Header [START] */
header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: black;
}
header nav {
    margin: 10px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    
}
header nav ul li a {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 2.5vh;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    
}
header nav ul li a:hover {
    background: var(--theme-color-purple);
    color: rgb(158, 253, 209);
    border-radius: 30px 10px;
    text-shadow: none;
}
/* [END] Header [END] */

/* [STAR] Primary Image [START] */
.cyberpunk-landscape {
    /* IMG Resource: free4kwallpapers.com */
    background-image: url(../img/cyberpunk.jpg);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 35vw;
    width: 100%;
}

.cyberpunk-landscape h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
/* [END] Primary Image [END] */

/* [START] Reusable container styling [START] */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: black;
    /* height: 100%; */
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-header {
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    font-size: 3.0vh;
    margin-top: 40px;
}
.container-header p {
    text-align: left;
    margin: 20px;
    text-shadow: none;
}
.facts {
    margin: 20px;
    flex: 1;
    color: white;
    width: 100%;
    opacity: 0.7;
}
.facts:hover {
    opacity: 1;
}
.facts h1 {
    position: absolute;
    margin: 20px;
    text-shadow: 0 0 10px black;
}
.facts h2 {
    position: absolute;
    margin: 50px auto auto 20px;
    font-size: 15px;;
    text-shadow: 0 0 10px black;
}
.facts img {
    width: 100%;
    border-radius: 20px
}
.box {
    width: 5%;
}
/* [END] ABout Me Section [END] */

/* [START] Portfolio fact container [START] */
.portfolio-facts1 {
    margin: 20px;
    flex: 1;
    color: white;
    width: 100%;
    opacity: 0.7;

}

.portfolio-facts1:hover {
    opacity: 1;
}

.portfolio-facts1 h1 {
    position: absolute;
    margin: 20px;
    text-shadow: 0 0 10px black;
}
.portfolio-facts1 img {
    width: 100%;
    border-radius: 20px;
    
}

.portfolio-facts2 {
    flex: 1;
    color: white;
    width: 100%;

}
/* [END] Portfolio fact container [END] */

/* [START] Contact Me specific styling [START] */
.box2 {
    margin: 20px;
    flex: 1;
    color: white;
    width: 100%;
    opacity: 0.7;
}
.box2 input, .box2 textarea {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}
.box2 label {
    display: block;
    font-size: 16px;
    width: 50%;
    margin-bottom: 15px;
    margin-top: 5px;
}
.box2 button {
    display: block;
    width: 50%;
    border: none;
    background: var(--theme-color-purple);
    color: white;
    padding: 15px 0;
    border-radius: 10px;
}
.hyperlink {
    float: right;
    margin-bottom: 21vh;

}
/* [END] Contact Me specific styling [END] */

/* [START] Footer [START] */
footer {
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}
footer h3 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
/* [END] Footer [END] */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        margin-bottom:  10px;
        width: 100%;
        justify-content: center;
    }
    .facts {
        flex: 1 70%;
    }
    .portfolio-facts1 {
        flex: 1 100%;
        margin: 70px
    }
    .portfolio-facts2 {
        flex: 1 100%;

    }
    .hyperlink {
        float: none;
        /* flex: 1 100%; */
        text-align: center;
        margin-bottom: 0;
        
    }
    .box2 {
        flex: 1 100%;
    }
    .box2 form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 33%;
    }
    .box2 label, .box2 input {
        text-align: center;
    }
    .box2 p {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        text-align: center;
    }
}

